@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
    box-sizing:unset;
}

body {
    background-color: #004b23;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    background-size: cover;
}

.main {
    margin: 0 auto;
    width: 95%;
    /* background-color: #4d9f1b; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1vw 0 1vw;
    position: relative;
    
    .bgnd-container {
        position: relative;
    
        .bgnd {
            width: 100%;
            height: 38vh;
            overflow : hidden;
            z-index: -1;
        
            .bgnd-image {
                height: 38vh;
                min-width: 100%;
            }
        }
    }

    .container {
        margin: 0 auto;
        height: auto;
        width: auto;
        padding: 0;
        overflow-x: auto;
        
        .titler {
            position: absolute;
            display: flex;
            width: 70%;
            height: 10vh;
            flex-direction: row;
            left: 20vw;
            top: 2vh;
            
            .myh1 {
                h1 {
                    top: -0.5em;
                    right: 3vw;
                    color: #fff;
                    margin: 0;
                    padding: 0.5em;
                    /* font-size: 5vw; */
                    font: italic bold 5vw 'Heebo', sans-serif;
                    position: absolute;
                    /* border: 2px solid blue; */
                    z-index: 2;
                }
            }
            .selector {
                height: 6em;
                margin-top: 5em;
                
                #course-title {
                    font-size: 2vw !important;
                    font-weight: bolder;
                    color: #fff;
                    margin: 0;
                }
            }
        }
        .tableContainer, .playerScoreTable {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
        
        .teeSelection {
            font-size: 1.5vw !important;
            position: absolute;
            top: 7em;
            left: 1vw;
            color: #fff;
        }
    }
}

#scorecard {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #000;     /*fondo de la tabla*/
}
#playerData {
    display: flex;
    justify-content: left;
}
#addplayer, #reset, #calculateWinner { //button
    width: 7em;
    height: 1.5em;
    background-color: #d4d700;
    color: #008000;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#calculateWinner {
    display: none;
}

#subtitler {
    text-align: left !important;
    font-size: 2.5vh;
    text-transform: uppercase;
}

#fancy, .playerScoreTable {
    width: auto;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    table-layout: fixed;
    text-align: center;
}
#fancy th {
    line-height: 0.8em;
    
    background-color: #008000;
    text-align: center;
    color: white !important;
    padding: 1vh 1vh;
}
#fancy td, #fancy th {
    border-collapse: collapse;
    width: 4vw;
    border: 1px solid #ddd;
}
  
#fancy tr:hover {
    background-color: #dedede;
    color: #000000;
}

#course-select {
    width: 25em;
}

#tableHead {
    height: 8vh;
}

#playersName {
    width: 3.5em;
    margin: 0 !important;
    padding: 0 !important;
}
#strokes {
    text-align: center;
    width: 3vw;
    margin: 0 !important;
    padding: 0 !important;
}

input {
    width: 2vw;
}
#playerName {
    margin: 0;
    padding: 0;
    width: 3vw;
    background-color: #99d98c;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none;
}

td:nth-child(11),
td:nth-child(21),
td:nth-child(22) {
    background-color: #008000;
    color: #fff;
}
